/* Reset básico e fontes */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    background: url("image/pexels-karolina-grabowska-4195501.jpg") no-repeat center center;
    background-size: cover;
    font-family: "Lexend", sans-serif;
    min-height: 100vh;
    overflow: auto;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}


#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    width: 100%;
}

.logo {
    width: 120px;
    height: auto;
}


.navbar {
    display: flex;
    gap: 2.5rem;
}

.navbar p a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: white;
    transition: all .2s;
}
.navbar p a:hover{
    transform: translateY(-10px);
    background-color: rgba(255, 217, 0, 0.281);
    padding: .2rem 20px;
    border-radius: .6rem;
}


.name-gerente {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.name-gerente h1 {
    font-size: 4rem;
}

.valores-empresa p {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    color: gold;
}


.cards-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 5rem;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 2rem;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(255, 215, 0, 0.6);
}

.card h2 {
    color: gold;
    margin-bottom: 1rem;
    font-family: "Oswald", sans-serif;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #e0e0e0;
}


.footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5rem 2rem;
    text-align: center;
    font-family: "Oswald", sans-serif;
    border-top: 1px solid rgba(255, 215, 0, 0.3);
    backdrop-filter: blur(3px);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.footer p {
    color: #ccc;
    font-size: 0.9rem;
}

.social-icons i {
    color: gold;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons i:hover {
    color: white;
    transform: translateY(-10px);
    
}
.social-icons i:active{
    color: rgb(255, 234, 113);
}